Repository linux-kernel-labs/linux, pull requests merged in 2018-03, with the labels that each got.

#42 Refactor assignments
  tools/labs/templates/assignments/0-list/Kbuild
  tools/labs/templates/assignments/0-list/checker/_checker
  tools/labs/templates/assignments/0-list/list.c
  tools/labs/templates/assignments/00-hello/Kbuild
  tools/labs/templates/assignments/00-hello/checker/_checker
  tools/labs/templates/assignments/00-hello/hello-world.c
  tools/labs/templates/assignments/1-tracer/checker/Makefile
  tools/labs/templates/assignments/1-tracer/checker/README
  tools/labs/templates/assignments/1-tracer/checker/_checker
  tools/labs/templates/assignments/1-tracer/checker/_helper/Kbuild
  tools/labs/templates/assignments/1-tracer/checker/_helper/helper.h
  tools/labs/templates/assignments/1-tracer/checker/_helper/tracer_helper.c
  tools/labs/templates/assignments/1-tracer/checker/_test/Makefile
  tools/labs/templates/assignments/1-tracer/checker/_test/debug.h
  tools/labs/templates/assignments/1-tracer/checker/_test/helper.h
  tools/labs/templates/assignments/1-tracer/checker/_test/test.h
  tools/labs/templates/assignments/1-tracer/checker/_test/tracer.h
  tools/labs/templates/assignments/1-tracer/checker/_test/tracer_test.c
  tools/labs/templates/assignments/1-tracer/checker/_test/tracer_test.h
  tools/labs/templates/assignments/1-tracer/checker/_test/util.h
  tools/labs/templates/assignments/1-tracer/tracer.h
Labels: assignments, question

#46 1-tracer: fix open device file test assertion failure
  tools/labs/templates/assignments/1-tracer/checker/_test/tracer_test.c
Labels: assignments, bug

#48 Assignment setup for 5-pitix
  tools/labs/templates/assignments/5-pitix/checker/Makefile
  tools/labs/templates/assignments/5-pitix/checker/README
  tools/labs/templates/assignments/5-pitix/checker/_checker
  tools/labs/templates/assignments/5-pitix/checker/_test/.gitignore
  tools/labs/templates/assignments/5-pitix/checker/_test/Makefile
  tools/labs/templates/assignments/5-pitix/checker/_test/mkfs.pitix.c
  tools/labs/templates/assignments/5-pitix/checker/_test/pitix.h
  tools/labs/templates/assignments/5-pitix/checker/create_pitix_loop.sh
  tools/labs/templates/assignments/5-pitix/pitix.h
Labels: assignments, infrastructure

#44 Introduce lecture 06: Debugging
  Documentation/teaching/index.rst
  Documentation/teaching/lectures/debugging.rst
  tools/labs/templates/debugging/dumpstack/Kbuild
  tools/labs/templates/debugging/dumpstack/dumpstack.c
  tools/labs/templates/debugging/leak/Kbuild
  tools/labs/templates/debugging/leak/leak.c
  tools/labs/templates/debugging/list/Kbuild
  tools/labs/templates/debugging/list/list.c
  tools/labs/templates/debugging/locking/Kbuild
  tools/labs/templates/debugging/locking/locking.c
  tools/labs/templates/debugging/locking2/Kbuild
  tools/labs/templates/debugging/locking2/locking2.c
  tools/labs/templates/debugging/oops/Kbuild
  tools/labs/templates/debugging/oops/oops.c
  tools/labs/templates/debugging/panic/Kbuild
  tools/labs/templates/debugging/panic/panic.c
Labels: lectures

#24 lab02: kernel_modules: Add extra exercises
  Documentation/teaching/labs/kernel_modules.rst
Labels: labs
