Repository linux-kernel-labs/linux, pull requests merged in 2019-04, with the labels that each got.

#100 teaching: labs: device_drivers: Fix typo
  Documentation/teaching/labs/device_drivers.rst
Labels: labs

#120 tools/labs/assignment: Clarify location of scripts for testing 3-raid
  tools/labs/templates/assignments/3-raid/checker/README
Labels: assignments

#124 Documentation: teaching: labs: filesystems_part1: Fix minor typos
  Documentation/teaching/labs/filesystems_part1.rst
Labels: labs

#127 tools: labs: qemu: Makefile: Remove deprecated vlan parameter
  tools/labs/qemu/Makefile
Labels: infrastructure

#125 Documentation: teaching: labs: filesystems_part2: Fix typos
  Documentation/teaching/labs/filesystems_part2.rst
Labels: labs

#126 Review lab09: Filesystems (part 2)
  Documentation/teaching/labs/filesystems_part2.rst
  tools/labs/templates/filesystems/minfs/kernel/minfs.c
Labels: labs

#123 Documentation: teaching: labs: networking: Add networking lab
  Documentation/teaching/index.rst
  Documentation/teaching/labs/device_drivers.rst
  Documentation/teaching/labs/networking.rst
Labels: labs
