Repository linux-kernel-labs/linux, pull requests merged in 2020-03, with the labels that each got.

#147 README: Fix README.rst link
  README.rst
Labels: bug

#148 Add setup for vmchecker
  tools/labs/.gitignore
  tools/labs/Makefile
  tools/labs/Makefile.vmchecker
  tools/labs/scripts/install-startup-script
  tools/labs/scripts/so2-startup-script
  tools/labs/scripts/vmchecker-setup
Labels: infrastructure

#158 Documentation: teaching: labs: deferred_work: Fix example code
  Documentation/teaching/labs/deferred_work.rst
Labels: labs

#159 Documentation: labs: device_drivers: Update extra exercises testing
  Documentation/teaching/labs/device_drivers.rst
Labels: labs

#163 tools/labs/qemu: set USER variable explicitly
  tools/labs/qemu/create_net.sh
Labels: infrastructure

#166 Documentation: teaching: labs: interrupts: Update exercises
  Documentation/teaching/labs/device_drivers.rst
  Documentation/teaching/labs/interrupts.rst
  tools/labs/templates/interrupts/kbd.c
Labels: labs

#162 Documentation: teaching: interrupts: add more details
  Documentation/teaching/lectures/interrupts.rst
Labels: lectures

#173 Smp updates
  Documentation/teaching/lectures/smp.rst
Labels: lectures
