Repository linux-kernel-labs/linux, pull requests merged in 2020-05, with the labels that each got.

#184 Documentation: Fix typos and wording problems
  Documentation/teaching/labs/device_drivers.rst
  Documentation/teaching/labs/introduction.rst
  Documentation/teaching/labs/kernel_modules.rst
  Documentation/teaching/lectures/interrupts.rst
  Documentation/teaching/lectures/intro.rst
  Documentation/teaching/lectures/smp.rst
  Documentation/teaching/lectures/syscalls.rst
Labels: labs, lectures

#188 labs: networking: Fix includes in userspace component
  tools/labs/templates/networking/1-2-netfilter/user/test.c
Labels: labs

#178 tools: labs: Ignore all Yocto image files
  tools/labs/.gitignore
Labels: infrastructure

#189 documentation: memory_mapping: Fix TODO numbering
  Documentation/teaching/labs/memory_mapping.rst
Labels: labs

#190 documentation: teaching: labs: device_model: content fixes
  Documentation/teaching/labs/device_model.rst
  Documentation/teaching/labs/plug_and_play-linux_device_model_operations.png
  Documentation/teaching/labs/plug_and_play-linux_device_model_structures.png
  Documentation/teaching/labs/plug_and_play-sysfs.png
Labels: labs

#192 device_model: replace pngs with inline ditaa diagrams
  Documentation/teaching/labs/device_model.rst
  Documentation/teaching/labs/plug_and_play-linux_device_model_operations.png
  Documentation/teaching/labs/plug_and_play-linux_device_model_structures.png
  Documentation/teaching/labs/plug_and_play-sysfs.png
Labels: labs
